# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.PatientTracker.iml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\kubra\Desktop\PatientTrackerApiDemo\PatientTracker\.idea\.idea.PatientTracker\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
